<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\all-log.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorsFileAppender" type="log4net.Appender.FileAppender">
      <file value="Logs\error-log.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy HH:mm:ss} %5level [%thread] (%file:%line) - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ErrorsFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="adminName" value="admin"/>
    <add key="adminPassword" value="admin"/>
    <add key="timeToWaitSeconds" value="50" />
    <add key="initializeNumberOfSubforums" value="3"/>
    <add key="subforumsNamesList" value="Cars,Computers,Sport"/>
    <add key="numberOfPostsInEachSubforum" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="ForumEntities" connectionString="metadata=res://*/DataLayer.ForumModel.csdl|res://*/DataLayer.ForumModel.ssdl|res://*/DataLayer.ForumModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Forum;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
