<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IForumService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52644/NetworkLayer/ServerNetworkAdaptor.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IForumService"
                contract="ForumService.IForumService" name="WSDualHttpBinding_IForumService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
