<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="adminName" value="admin"/>
  <add key="adminPassword" value="admin"/>
  <add key="initializeNumberOfSubforums" value="6"/>
  <add key="subforumsNamesList" value="Cars, Computers, Sports, Travel, Geeks, Women"/>
  <add key="numberOfPostsInEachSubforum" value="5"/>
  </appSettings>
</configuration>