<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="adminName" value="admin"/>
  <add key="adminPassword" value="admin"/>
  <add key="timeToWaitMinutes" value="1"/>
  <add key="initializeNumberOfSubforums" value="3"/>
  <add key="subforumsNamesList" value="Cars,Computers,Sport"/>
  <add key="numberOfPostsInEachSubforum" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="ForumEntities" connectionString="metadata=res://*/DataLayer.ForumModel.csdl|res://*/DataLayer.ForumModel.ssdl|res://*/DataLayer.ForumModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Forum;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>